<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zk.dao.GoodsDao">

    <select id="findById" parameterType="long" resultType="org.zk.model.Goods">
        select goods_id as goodsId,
               goods_type as goodsType,
               goods_name as goodsName
        from goods where goods_id = #{goodsId}
    </select>

    <select id="findByGoodsName" parameterType="string" resultType="org.zk.model.Goods">
        select goods_id as goodsId,
               goods_type as goodsType,
               goods_name as goodsName
        from goods where goods_name = #{goodsName}
    </select>

    <insert id="insert" parameterType="org.zk.model.Goods">
        insert into goods (goods_id, goods_type, goods_name)
        values(#{goodsId}, #{goodsType}, #{goodsName})
    </insert>

    <update id="updateByIds">
        update goods set goods_name = 'xxx'
        where goods_id in
        <foreach collection="list" open="(" separator="," close=")" item="goodsId">
            #{goodsId}
        </foreach>
    </update>

    <update id="updateById">
        update goods set goods_name = 'xxx'
        where goods_id = #{goodsId}
    </update>

</mapper>