<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zk.dao.UserDao">

    <select id="getById" resultType="org.zk.entity.User">
        select * from tb_user where id = #{id}
    </select>

    <select id="listAll" resultType="org.zk.entity.User">
        select * from tb_user
    </select>

    <insert id="insert" parameterType="org.zk.entity.User">
        insert into tb_user(username)
        values(#{username})
    </insert>

    <update id="update">
        update tb_user set username = #{username} where id = #{id}
    </update>

    <select id="deleteById">
        delete from tb_user where id = #{id}
    </select>
</mapper>