<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <!-- zookeeper: ls /dubbo/org.zk.dubbo.interfaces.DemoService/providers -->
    <!-- wireshark抓包: ip.addr eq 192.168.226.129 and tcp.port eq 20880 -->

    <dubbo:application name="dubbo-c"/>

    <dubbo:registry address="zookeeper://10.200.4.74:2181" />

    <dubbo:protocol name="dubbo" port="20888" />


    <bean id="demoService" class="org.zk.dubbo.DemoServiceImpl" />

    <dubbo:service interface="org.zk.dubbo.DemoService" ref="demoService" filter="-dubboCatCrossFilter"/>
</beans>