<?xml version="1.0" encoding= "UTF-8"?>
<configuration debug= "false">

    <appender name ="CONSOLE" class= "ch.qos.logback.core.ConsoleAppender" >
        <encoder >
            <pattern >%p [%C] %L - [%m] %n</pattern >
        </encoder >
    </appender >


    <logger name ="org.zk" level= "debug" />

    <logger name ="org.springframework" level= "warn" />
    <logger name ="org.hibernate" level= "warn" />


    <root level ="debug">
        <appender-ref ref ="CONSOLE" />
    </root >
</configuration>