<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="FILE" />-->
    </root>

    <logger name ="org.zk" level="debug" />

    <logger name ="org.hibernate.SQL" level="trace"  />
    <logger name ="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" />

</configuration>
