<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->

    <conversionRule conversionWord="traceId" converterClass="org.zk.log.TraceIdConversion" />

    <property name="CONSOLE_LOG_PATTERN" value="[%traceId] %m %n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="FILE" />-->
    </root>

    <logger name ="org.zk" level="debug" />

</configuration>